.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.AuthContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blanchedalmond;
  padding: 10pt;
  width: 50%;
}

.AuthComponent {
  margin: 20pt;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
